@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
    font-family: Fenix;
    src: url("Vollkorn-VariableFont_wght.ttf");
}

.on-title-font {
    font-family: Fenix, serif;
}

.on-background-color {
    background-color: #000;
}
