@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
    font-family: Fenix;
    src: url("Vollkorn-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Aspekta Variable";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    src: url("AspektaVF.woff2") format("woff2");
}

body {
    font-family: 'Aspekta Variable', sans-serif;
}

.on-title-font {
    font-family: Fenix, serif;
}

.on-background-color {
    background-color: #000;
}
